body{
	font-family: 'Roboto', sans-serif;
	color: #333;
}

header img{
	width:auto;
}

img {
	width:100%; /* if use width:auto:: image will take all available width on the screen*/
	height:auto;
}

a{
	color:$mainOrange; /* defaul blue link color will be never used */
}

* {
	box-sizing: border-box;
}

.wideSpace{
	letter-spacing: 4px;
	text-transform: uppercase;
}
/*
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}
*/