/* svg sprite icon css class generator */
/* svg-sprite github repo docs to check out what is the viarables */
/* Final Gulp automation template */



	.icon{
		background-image: url('/assets/images/sprites/sprite-82dc5e81.svg') ;
	}

	.icon--clear-view-escapes{
		width:142.4px;
		height:59.53px;
		background-position: 0 0;
	}

	.icon--comment{
		width:64px;
		height:64px;
		background-position: 99.70443349753694% 0;
	}

	.icon--facebook{
		width:21.23px;
		height:42.01px;
		background-position: 17.093217235626806% 99.749986412305%;
	}

	.icon--fire{
		width:56px;
		height:64px;
		background-position: 0 73.78395061728395%;
	}

	.icon--globe{
		width:64px;
		height:64px;
		background-position: 27.586206896551722% 73.78395061728395%;
	}

	.icon--instagram{
		width:42.01px;
		height:42.01px;
		background-position: 0 99.749986412305%;
	}

	.icon--mail{
		width:64px;
		height:48px;
		background-position: 99.70443349753694% 35.95505617977528%;
	}

	.icon--pqu{
		width:142px;
		height:60px;
		background-position: 0 35.86144578313253%;
	}

	.icon--rain{
		width:64px;
		height:64px;
		background-position: 99.70443349753694% 69.1358024691358%;
	}

	.icon--star{
		width:64px;
		height:64px;
		background-position: 59.11330049261084% 73.78395061728395%;
	}

	.icon--twitter{
		width:51.78px;
		height:42.06px;
		background-position: 66.16485456741938% 34.79395455039687%;
	}

	.icon--wifi{
		width:60px;
		height:64px;
		background-position: 68.79227053140097% 0;
	}

	.icon--youtube{
		width:34.75px;
		height:42px;
		background-position: 27.22927879440258% 99.7445652173913%;
	}
