/* svg sprite icon css class generator */
/* svg-sprite github repo docs to check out what is the viarables */
/* Final Gulp automation template */



	.icon{
		background-image: url('/assets/images/sprites/sprite-c683d71b.svg') ;
	}

	.icon--HomeEvalue{
		width:64px;
		height:64px;
		background-position: 79.6911196911197% 0;
	}

	.icon--HomeSearch{
		width:64px;
		height:83px;
		background-position: 54.98069498069498% 0;
	}

	.icon--Prize{
		width:64px;
		height:83px;
		background-position: 0 64.96195652173913%;
	}

	.icon--clear-view-escapes{
		width:142.4px;
		height:59.53px;
		background-position: 0 0;
	}

	.icon--comment{
		width:64px;
		height:64px;
		background-position: 79.6911196911197% 31.527093596059114%;
	}

	.icon--facebook{
		width:21.23px;
		height:42.01px;
		background-position: 89.60466580508333% 37.366105160229345%;
	}

	.icon--fire{
		width:56px;
		height:64px;
		background-position: 77.30337078651685% 63.05418719211823%;
	}

	.icon--globe{
		width:64px;
		height:64px;
		background-position: 24.71042471042471% 99.76847290640394%;
	}

	.icon--instagram{
		width:42.01px;
		height:42.01px;
		background-position: 96.23118260436313% 18.694164185074893%;
	}

	.icon--mail{
		width:64px;
		height:48px;
		background-position: 49.42084942084942% 54.57990867579909%;
	}

	.icon--pqu{
		width:142px;
		height:60px;
		background-position: 0 28.758454106280194%;
	}

	.icon--rain{
		width:64px;
		height:64px;
		background-position: 0 99.76847290640394%;
	}

	.icon--sold{
		width:64px;
		height:83px;
		background-position: 24.71042471042471% 64.96195652173913%;
	}

	.icon--star{
		width:64px;
		height:64px;
		background-position: 49.42084942084942% 99.76847290640394%;
	}

	.icon--twitter{
		width:51.78px;
		height:42.06px;
		background-position: 99.69766241427621% 0;
	}

	.icon--wifi{
		width:60px;
		height:64px;
		background-position: 73.00380228136882% 99.76847290640394%;
	}

	.icon--youtube{
		width:34.75px;
		height:42px;
		background-position: 93.80745880312227% 56.03555555555555%;
	}
